{% extends "customers_base.html" %}

{% block header %}
    New Customer
{% endblock %}

{% block content %}
<form method="post" action="{% url 'customers:new' %}" id="form">
	{% csrf_token %}
	{{ form.customer_id }}
	<div>
		<label for="{{ form.name.id_for_label }}" class="block font-bold">
			{{ form.name.label }}
		</label>
		{{ form.name.errors }}
		<input type="text" name="{{ form.name.html_name }}" value="{{ form.name.value|default_if_none:'' }}" id="{{ form.name.html_name }}" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" />
	</div>
    </form>
{% endblock %}

{% block actions %}
<span class="sm:ml-3">
	<button type="button" class="inline-flex items-center px-4 py-2 border rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 border-gray-300 text-gray-700 bg-white hover:bg-gray-50">
		<a href="{% url 'customers:index' %}">Back</a>
	</button>
</span>
<span class="sm:ml-3">
	<button type="submit" form="form" class="inline-flex items-center px-4 py-2 border rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 border-transparent text-white bg-blue-600 hover:bg-blue-700">
		Create Customer
	</button>
</span>
{% endblock %}
