<!DOCTYPE html>
<html lang="en_us">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page title -->
    <title>{% block title %}Title{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
	
</head>
<body class="bg-gray-100">
	{% block before_content %}
	<nav class="bg-gray-800">                                                 
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">                   
			<div class="flex items-center justify-between h-16">                      
				<div class="flex items-center">
					<div class="flex-shrink-0">                                                                        
						<h1 class="text-gray-600 uppercase tracking-tight font-bold">
							ecommerce                                                       
						</h1>
					</div>
					<div>
						<div class="ml-10 flex items-baseline space-x-4">
							{% block navbar %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	{% endblock %}
    <header class="bg-white shadow">
      <div class="max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
          <h1 class="text-3xl font-bold text-gray-900">
		{% block header %}{% endblock %}
	  </h1>
        </div>
        <div class="mt-5 flex lg:mt-0 lg:ml-4">
		{% block actions %}{% endblock %}
        </div>
      </div>
    </header>
    <main class="bg-white">
      <div class="max-w-6xl mx-auto py-6 sm:px-6 lg:px-8">
	{% if messages %}
	{% for message in messages %}
          <p class="bg-green-200 rounded text-green-600 py-2 px-4 mb-8 font-medium text-md" id="notice">
	      {{ message }}
	  </p>
	{% endfor %}
	{% endif %}
	{% block content %} CONTENT {% endblock %}
      </div>
    </main>
{% block after_content %}
<footer class="bg-gray-100" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-6xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-6 xl:gap-8">
      <div class="space-y-8 xl:col-span-3">
        <p class="text-gray-500 text-base">
          Ecommerce application with CQRS and Event Sourcing built on Rails
          and <a class="bg-link font-semibold text-gray-800" href="https://railseventstore.org">Rails Event Store</a>.
        </p>
      </div>
      <div class="mt-12 grid grid-cols-1 gap-8 xl:mt-0 xl:col-span-3">
        <div class="md:grid md:grid-cols-3 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Observe
            </h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a class="text-base text-gray-500 hover:text-gray-900" href="/admin/django_event_store/event/">Events</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Improve
            </h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a class="text-base text-gray-500 hover:text-gray-900" href="https://github.com/RailsEventStore/ecommerce">Original Ruby Source Code</a>
              </li>
              <li>
                <a class="text-base text-gray-500 hover:text-gray-900" href="https://github.com/NetstationPL/example_event_source_ecommerce">Python Implementation Source Code</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Learn
            </h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a class="text-base text-gray-500 hover:text-gray-900" href="https://www.youtube.com/watch?v=yohu6qx8-dU">DDD as Low-Code</a>
              </li>
              <li>
                <a class="text-base text-gray-500 hover:text-gray-900" href="https://arkademy.dev">arkademy.dev</a>
              </li>
              <li>
		<a class="text-base text-gray-500 hover:text-gray-900" href="https://netstation.pl">netstation.pl</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
</body>
</html>
