{% extends "orders_base.html" %}
{% load orders_tags %}

{% block header %}
    Edit Order
{% endblock %}

{% block content %}
<table class="w-full">
	<tr>
		<th class="text-left py-2">Product</th>	
		<th class="text-left py-2">Quantity</th>	
		<th class="text-left py-2">Price</th>
		<th class="text-left py-2" colspan="3">Value</th>
	</tr>
{% for product in products %}
{% with order_line=order_lines|get_item:product.id %}
	<tr>
<tr class="border-t">
	<td class="py-2">{{ product.name }}</td>
	<td class="py-2">{{ order_line.quantity }}</td>
	<td class="py-2">${{ order_line.price }}</td>
	<td class="py-2">${{ order_line.value }}</td>
	<td class="py-2">
		<a class="text-blue-500 hover:underline" rel="nofollow" data-method="post" onclick="let form = document.getElementById('add_item_form');form.elements.product_id.value = '{{ product.id }}';form.submit();return false;" href="{% url 'orders:add_item' order_id %}?product_id={{ product.id }}">Add</a>
      </td>
      <td class="py-2">{% if order_line %}Remove{% endif %}</td>
</tr>
{% endwith %}
{% endfor %}
</table>
{% endblock %}
