{% extends "orders_base.html" %}

{% block header %}
    New Order
{% endblock %}


{% block actions %}
{% endblock %}

{% block content %}
<table class="w-full">
	<tr>
		<th class="text-left py-2">Product</th>	
		<th class="text-left py-2" colspan="3">Price</th>
	</tr>
{% for product in products %}
<tr class="border-t">
	<td class="py-2">{{ product.name }}</td>
	<td class="py-2">{{ product.price }}</td>
	<td class="py-2">
		<a class="text-blue-500 hover:underline" rel="nofollow" data-method="post" onclick="let form = document.getElementById('add_item_form');form.elements.product_id.value = '{{ product.id }}';form.submit();return false;" href="{% url 'orders:add_item' order_id %}?product_id={{ product.id }}">Add</a>
      </td>
</tr>
{% endfor %}
</table>
{% include "orders/_add_item_form.html" %}
{% include "orders/_order_form.html" %}
{% endblock %}
